.menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
}

.logo {
    text-align: center;
    padding: 20px;
    color: #27374d;
    align-items: center;
    display: flex;
}

.logo .icon {
    font-size: 1.4rem;
}
